{% extends 'sellerbase.html' %}
{% load static %}

  {% block header %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Widgets</title>
  {% endblock %}

{% block content %}  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Products data
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Created date</th>
                  <th>Category</th>
                  <th>Manufacturer</th>
                  <th>Pieces in stock</th>
                  <th>Purchases</th>
                  <th>Views</th>
                  <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                <tr>
                  <td>{{product.Id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.date_created}}</td>
                  <td>{%for cat in product.category.all%}{%ifnotequal 'Gaming' cat.name%}{{cat}} {%endifnotequal%}{%endfor%}</td>
                  <td>{{product.manufacturer}}</td>
                  <td>{{product.piecesStock}}</td>
                  <td>{{product.purchases}}</td>
                  <td>{{product.views}}</td>
                  <td>{{product.rating}}</td>
                </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                  <th>Product ID</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Created date</th>
                  <th>Category</th>
                  <th>Manufacturer</th>
                  <th>Pieces in stock</th>
                  <th>Purchases</th>
                  <th>Views</th>
                  <th>Rating</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock %}
  {% block JsScripts %}  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>

<script src="{% static "/bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<link rel="stylesheet" href="{% static "/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" %}">
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}
