{% extends 'base.html' %}
{% load static %}
{% load myfilter %}
{% block header %}
<title>About us</title>
{% endblock %}
{% block content %}

{% include "shop/navigation2.html" %}

<div class="container">
<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="site-title text-center">
				<h3>About Us</h3>
				<p>A wonderful designs has takenpossession but also the leap into electronic pesetting industry  It was popularised in the 1960s with the release </p>
			</div>
			<div class="about-inner-section">
				<div class="col-md-6 about-inner-column">
					<h4>Eco friendly food is good for health </h4>
					<p>Takenpossession of lorem Ipsum is simply dummy text of the printing and typesetting industry In sit amet sapien eros Integer  in tincidunt labore et dolore magna aliqua  remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
					<ul>
						<li><a href="#">Donec ut quam lscele volutri.</a></li>
						<li><a href="#">Etiam volutpatbh quam bortis</a></li>
						<li><a href="#">Varius fusce vit aeblandit.</a></li>
					</ul>
				</div>
				<div class="col-md-6 about-right">
				<img src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" alt=" ">
			</div>
				<div class="clearfix"> </div>
			</div>
	</div>
	</div>
<style media="screen">
.about-section {
	padding: 4em 0;
}
.site-title  {
	padding: 2em 0;
}
.site-title h3 {
	font-size: 3.5em;
	color: #C54038;
	font-weight: 700;
}
.site-title p {
	font-size: 1.1em;
	color: #333333;
	line-height: 1.8em;
	margin-top: 0.5em;
}

.about-inner-column h4 {
	font-size: 2.5em;
	color: #C54038;
}
.about-inner-column p {
	font-size: 1.1em;
	color: #333333;
	line-height: 1.8em;
	margin: 1em 0 0;
}

.about-inner-column ul li a {
	color: #333333;
	font-size: 1.1em;
	padding-left: 2em;
}
.about-right img {
	width: 100%;
}

</style>
{% endblock %}
