{% extends 'base.html' %}
{% load static %}
{% block header %}
<title>Shipping</title>
{% endblock %}
{% block content %}

{% include "shop/navigation2.html" %}

<div class="container">
<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="site-title text-center">
				<h3>Shipping and return</h3>
		</div>
		<div class="about-inner-section">
				<div class="about-inner-column">
<p><strong>Order Processing<br> </strong>- Orders are processed within 24 hours of receipt and shipped on business days only (Monday through Friday, excluding major holidays. Processing time does not include weekend days). <br>- Orders placed on Saturday and Sunday will be processed on the following Monday.</p>
<p> </p>
<p><strong>Standard Shipping<br></strong>Most orders are processed and shipped within 3-5 business days.<br><br><strong>US Territories and APO/FPO Locations<br></strong>Customer orders ship to APO/FPO locations and will ship via the U.S. Postal Service. Delivery times to APO/FPO locations vary greatly. US locations may take 10 days, while overseas locations may take up to 30-45 days to deliver.</p>
<p> </p>
<p><strong>International Shipping<br></strong>Mastershop ship worldwide (including military addresses).</p>
<p><strong>International Order Shipping Costs:</strong> Vary by order weight and order destination</p>
<p><strong>International Order Delivery Time</strong>: Shipping takes between 7-21 business days, Monday-Friday. Orders can be further delayed if held at customs pending a request for further details from the order recipient, a payment for VAT and/or customs fees by the recipient is due, or inclement weather or other carrier delays.</p>
<p><strong>Carrier for International Orders:</strong> We ship via USPS for all international orders and we cannot ship to PO boxes.</p>
<p><strong>Tracking for International Orders:</strong> Tracking details will appear in your shipment confirmation email, and in your Order History on MasterShop, after your order ships.</p>
<p><strong>Custom Duty, VAT, and Fees:</strong> Taxes, duties, and customs/brokerage fees may be due and collected at the time of delivery. These are the sole responsibility of the recipient.</p>
<p><strong>Custom Fee estimates: </strong>Please contact your local customs office for estimates</p>
<p><strong>International Order Refunds:</strong> We are unable to issue a refund for shipping or the products if your package is confiscated by, or not collected from customs; if you refuse your package; or if your order is undeliverable as addressed; or if requirements are not met, based on the import regulations for your country.</p>
<p><b>International</b><strong> Gift Orders:</strong> Gifts are not exempt from customs or associated fees</p>
<p><strong>Shipping Confirmation<br></strong><span style="line-height: 1.4;">Once a customer’s order ships, he/she will receive a shipping confirmation email with tracking information. </span></p>
<p><strong> </strong></p>
<h3><strong>RETURN POLICY</strong></h3>
<p><strong>Returns and Exchanges<br> </strong>You can return any unopened products within 30 days of purchase and we will issue a full refund to the original method of payment. We only accept returns for products purchased on MasterShop. Items received as a gift must be returned by the original purchaser.</p>
<p>To return or exchange an item(s), please email us with your order # at <span style="color: #cf7459;">returns@MasterShop.com</span>. We will send you instructions on our return process.</p>
<p>You will receive an email confirmation when your return has been received. Please allow 15 business days after this for the refund to appear on your credit card account. Please note we do not refund return shipping fees. <br><strong></strong></p>
<p><strong>Returns Lost in Transit</strong></p>
<p>We are not responsible for returned packages that may be lost or damaged in transit. It is recommended that you choose a method of shipping with tracking and insurance.</p>
<p><strong>Cancelled Orders<br> </strong>Occasionally, orders or parts of an order are cancelled by our system for various reasons. Some reasons are: </p>
<ul>
<li>Item(s) not available</li>
<li>Difficulty in processing payment information</li>
<li>Cannot ship to address provided</li>
<li>Duplicate order was placed</li>
</ul>
<p>If your order is cancelled, you will receive an email notice to explain the reason for the cancellation. You will not be billed for any cancelled items. If you are interested in placing a new order or if you have questions about a cancelled order, please notify customer service via email at <span style="color: #cf7459;">service@boldenusa.com</span>.</p>
<p><em>Please bear in mind that our order-fulfillment and shipping systems are designed to get orders out to you quickly and efficiently. Therefore, we cannot change or cancel an order once it has been submitted.<br></em></p>
<p><strong>Damaged Shipping</strong><strong><br> </strong>If your package was damaged during shipment, please notify customer service via email at <span style="color: #cf7459;">service@MasterShop.com</span>.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
	</div>
<style media="screen">
.about-section {
	padding: 4em 0;
}
.site-title  {
	padding: 2em 0;
}
.site-title h3 {
	font-size: 3.5em;
	color: #C54038;
	font-weight: 700;
}
.site-title p {
	font-size: 1.1em;
	color: #333333;
	line-height: 1.8em;
	margin-top: 0.5em;
}

.about-inner-column h4 {
	font-size: 2.5em;
	color: #C54038;
}
.about-inner-column p {
	font-size: 1.1em;
	color: #333333;
	line-height: 1.8em;
	margin: 1em 0 0;
}

.about-inner-column ul li a {
	color: #333333;
	font-size: 1.1em;
	padding-left: 2em;
}

</style>
{% endblock %}
